@import url('https://fonts.googleapis.com/css?family=Exo:800|PT+Serif:700|Montserrat');

main {
    font-family: 'Exo';
    color: white;
}
section {
    font-family: 'PT Serif';
}
body {
    font-family: 'Montserrat';
    background-color: black;
    content: "";